#                                                 PANDAS

In [2]:
import pandas as pd
import numpy as np

### Series

#### Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [253]:
a=np.arange(1,6,2)
print(pd.Series(a))#without index
a1=pd.Series(a,index=["one","two","three"])#with index
print("\n",a1)

0    1
1    3
2    5
dtype: int32

 one      1
two      3
three    5
dtype: int32

In [254]:
#dataframe
df = pd.DataFrame([('bird', 389.0),
                   ('bird', 24.0),
                   ('mammal', 80.5),
                   ('mammal', np.nan)],
                  index=['falcon', 'parrot', 'lion', 'monkey'],
                  columns=('class', 'max_speed'))
df

         class  max_speed
falcon    bird      389.0
parrot    bird       24.0
lion    mammal       80.5
monkey  mammal        NaN

#### Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [256]:
s=pd.Series(np.arange(5,10),index=['a','b','c','d','e','f'])
print(s)
l=s.tolist()
print(l)

a    5
b    6
c    7
d    8
e    9
dtype: int32
[5, 6, 7, 8, 9]

####  Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [34]:
a=pd.Series(np.arange(20,30,3))
b=pd.Series(np.arange(200,210,3))
print("add: \n",a+b)
print("Sub: \n",a-b)
print("Mul: \n",a*b)
print("Div: \n",a/b)

add:
 0    220
1    226
2    232
3    238
dtype: int32
Sub:
 0   -180
1   -180
2   -180
3   -180
dtype: int32
Mul:
 0    4000
1    4669
2    5356
3    6061
dtype: int32
Div:
 0    0.100000
1    0.113300
2    0.126214
3    0.138756
dtype: float64

#### Write a Pandas program to compare the elements of the two Pandas Series.

In [37]:
a=pd.Series([20,301,3])
b=pd.Series([200,300,3])
print("Equal:\n")
print(a==b)
print("greater:\n")
print(a>b)
print("smaller:\n")
print(a<b)

Equal:

0    False
1    False
2     True
dtype: bool
greater:

0    False
1     True
2    False
dtype: bool
smaller:

0     True
1    False
2    False
dtype: bool

#### Write a Python program to convert a dictionary to a Pandas series.

In [38]:
d={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
p=pd.Series(d)
print(p)

a    100
b    200
c    300
d    400
e    800
dtype: int64

#### Write a Python program to change the data type of given a column of a Series.

In [258]:
d={'a': 100, 'b': 200, 'c': 'hello', 'd': 400, 'e': 800,'f':900,'g':1000}
p=pd.Series(d)
s = pd.to_numeric(p, errors='coerce')
print(p)
print("change:\n",c)

a      100
b      200
c    hello
d      400
e      800
f      900
g     1000
dtype: object
change:
 {'a': 100, 'b': 200, 'c': 'hello', 'd': 400, 'e': 800, 'f': 900, 'g': 1000}

####  Write a Python Pandas program to convert the first column of a DataFrame as a Series.

In [259]:
d1={'a': 100, 'b': 200, 'c': 500}
d11=pd.Series(d1)
d2={ 'a': 400, 'b': 800,'c':900,'d':1000}
d22=pd.Series(d2)
d={'ONE':d11,'TWO':d22}
df=pd.DataFrame(d)
print(df)
s1=df.ix[:,0]
print("\n",s1)

     ONE   TWO
a  100.0   400
b  200.0   800
c  500.0   900
d    NaN  1000

 a    100.0
b    200.0
c    500.0
d      NaN
Name: ONE, dtype: float64

C:\Users\Priya\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

#### Write a Pandas program to convert Series of lists to one Series.

In [72]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
s = s.apply(pd.Series).stack().reset_index(drop=True)
print(s)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

#### Write a Pandas program to sort a given Series.

In [75]:
w=[66,55,223,68,4,8,9,6,3,42,686,35,66,74]
w1=pd.Series(w).sort_values()
print(w1)

8       3
4       4
7       6
5       8
6       9
11     35
9      42
1      55
0      66
12     66
3      68
13     74
2     223
10    686
dtype: int64

#### Write a Pandas program to add some data to an existing Series.

In [77]:
a=np.arange(8)
a1=pd.Series(a)
print(a1)
a2=a1.append(pd.Series([8,9,10]))
print(a1)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

#### Write a Pandas program to change the order of index of a given series.

In [90]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

####  Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [91]:
e=np.arange(100)
e1=pd.Series(e)
print("mean")
print(e1.mean())
print("std dev")
print(e1.std())

mean
49.5
std dev
29.011491975882016

#### Write a Pandas program to get the items of a given series not present in another given series.

In [93]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
s3=sr1[~sr1.isin(sr2)]
print(s3)

0    1
2    3
4    5
dtype: int64

#### Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [100]:
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10, 4, 20))
print("Original Series:")
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

#### Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [102]:
r=np.random.randint(0,9,20)
r1=pd.Series(r)
r2=r1.value_counts()
print(r2)

4    4
3    4
7    3
2    3
1    2
0    2
6    1
5    1
dtype: int64

#### Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [107]:
u=np.random.randint(0,9,10)
u1=pd.Series(u)
s=np.argwhere(u1%5==0)
print(u1)
print("sum=",s)

0    4
1    0
2    3
3    5
4    4
5    1
6    6
7    4
8    1
9    3
dtype: int32
sum= [[1]
 [3]]

#### Write a Pandas program to extract items at given positions of a given series.

In [112]:
u=np.random.randint(0,6,10)
u1=pd.Series(u)
print(u1)
u2=u1.take([8,9])
print(u2)

0    4
1    4
2    0
3    5
4    5
5    3
6    4
7    0
8    2
9    3
dtype: int32
8    2
9    3
dtype: int32

#### Write a Pandas program convert the first and last character of each word to lower case and rest as upper case
#### in each word of a given series

In [114]:
cars = ["volvo", "bmw", "ford", "mazda"]
c1=pd.Series(cars)
c2=c1.map(lambda l:l[0].lower()+l[1:-1].upper()+l[-1].lower())
print(c2)

0    vOLVo
1      bMw
2     fORd
3    mAZDa
dtype: object

#### Write a Pandas program to calculate the number of characters in each word in a given series.

In [116]:
cars = ["volvo", "bmw", "ford", "mazda"]
c1=pd.Series(cars)
c2=c1.map(lambda f:len(f))
print(c2)

0    5
1    3
2    4
3    5
dtype: int64

#### Write a Pandas program to convert a series of date strings to a timeseries.

In [117]:
dt=['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20']
dtp=pd.Series(dt)
dts=pd.to_datetime(dtp)
print(dts)

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

#### Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

In [130]:
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print(result)

0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

### DataFrames

#### Write a program to create a dataframe using pandas

In [140]:
d={'a':pd.Series([100,200,300],index=['x','y','z']),'b':pd.Series([200,300,400],index=['x','y','z'])}
a=pd.DataFrame(d)
print(a)

     a    b
x  100  200
y  200  300
z  300  400

#### Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [141]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam=pd.DataFrame(exam_data,index=labels)
print(exam)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

#### Write a Pandas program to get the first 3 rows of a given DataFrame.

In [189]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam=pd.DataFrame(exam_data,index=labels)
print(exam.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

####  Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [146]:
print(pd.DataFrame(exam,columns=['name','score']))

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

#### Write a Pandas program to select the specified columns and rows from a given data frame.

In [150]:
print(pd.DataFrame(exam,columns=['name','qualify'],index=['a','j','f']))

        name qualify
a  Anastasia     yes
j      Jonas     yes
f    Michael     yes

#### Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [154]:
print(exam[exam['attempts']>2])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

#### Write a Pandas program to count the number of rows and columns of a DataFrame.

In [158]:
print('cols: ',len(exam.axes[1]))
print('rows: ',len(exam.axes[0]))

cols:  4
rows:  10

#### Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [163]:
print(exam[exam['score'].isnull()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

#### Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

In [169]:
print(exam[exam['score'].between(15,20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

#### Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [170]:
print(exam[(exam['score']>15)&(exam['attempts']<2)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

#### Write a Pandas program to change the score in row 'd' to 12.5.

In [173]:
print(exam.loc['d'])
exam.loc['d','score']=12.5
print(exam.loc['d'])

name        James
score        11.5
attempts        3
qualify        no
Name: d, dtype: object
name        James
score        12.5
attempts        3
qualify        no
Name: d, dtype: object

#### Write a Pandas program to calculate the sum of the examination attempts by the students.

In [174]:
print(exam['attempts'].sum())

19

#### Write a Pandas program to calculate the mean score for each different student in data frame.

In [175]:
print(exam['score'].mean())

13.444444444444445

#### Write a Pandas program to append a new row 'k' to DataFrame with given values for each column.

In [177]:
exam.loc['k'] = ['Suresh', 15.5,1, 'yes']
print(exam.tail())

      name score attempts qualify
g  Matthew  14.5        1     yes
h    Laura   NaN        1      no
i    Kevin     8        2      no
j    Jonas    19        1     yes
k   Suresh  15.5        1     yes

#### Write a Pandas program to sort the data frame first by 'name' in descending order, then by 'score' in ascending order.

In [180]:
print(exam.sort_values(by=['name'],ascending=[False]))

        name score attempts qualify
k     Suresh  15.5        1     yes
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
c  Katherine  16.5        2     yes
j      Jonas    19        1     yes
d      James  12.5        3      no
e      Emily     9        2      no
b       Dima     9        3      no
a  Anastasia  12.5        1     yes

In [181]:
print(exam.sort_values(by=['score'],ascending=[True]))

        name score attempts qualify
i      Kevin     8        2      no
b       Dima     9        3      no
e      Emily     9        2      no
a  Anastasia  12.5        1     yes
d      James  12.5        3      no
g    Matthew  14.5        1     yes
k     Suresh  15.5        1     yes
c  Katherine  16.5        2     yes
j      Jonas    19        1     yes
f    Michael    20        3     yes
h      Laura   NaN        1      no

####  Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [190]:
exam['qualify'] = exam['qualify'].map({'yes': True, 'no': False})
print(exam)

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

#### Write a Pandas program to change the name 'James' to 'Jamees' in name column of the data frame.

In [192]:
exam['name']=exam['name'].replace('James','Jamees')
print(exam['name'])

a    Anastasia
b         Dima
c    Katherine
d       Jamees
e        Emily
f      Michael
g      Matthew
h        Laura
i        Kevin
j        Jonas
Name: name, dtype: object

#### Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [197]:
exam_data1 = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
ex=pd.DataFrame(exam_data1,index=labels)
print(ex)
print("****"*10)
ex.pop('attempts')
print(ex)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
****************************************
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

#### Write a Pandas program to insert a new column in existing DataFrame.

In [200]:
exam_data1 = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
e=pd.DataFrame(exam_data1,index=labels)
print(e)
print("****"*10)
print("****"*10)
gender=['f','f','f','m','f','m','m','f','m','m']
e['Gender']=gender
print(e)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
****************************************
****************************************
        name  score  attempts qualify Gender
a  Anastasia   12.5         1     yes      f
b       Dima    9.0         3      no      f
c  Katherine   16.5         2     yes      f
d      James    NaN         3      no      m
e      Emily    9.0         2      no      f
f    Michael   20.0         3     yes      m
g    Matthew   14.5         1     yes      m
h      Laura    NaN         1      no      f
i      Kevin    8.0         2      no      m
j      Jonas   19.0         1     yes      m

#### Write a Pandas program to get list from DataFrame column headers.

In [207]:
print((e.columns.values))

['name' 'score' 'attempts' 'qualify' 'Gender']

#### Write a Pandas program to rename columns of a given DataFrame

In [212]:
e = e.rename(columns={'qualify': 'qualified'})
print(e)

        name  score  attempts qualified Gender
a  Anastasia   12.5         1       yes      f
b       Dima    9.0         3        no      f
c  Katherine   16.5         2       yes      f
d      James    NaN         3        no      m
e      Emily    9.0         2        no      f
f    Michael   20.0         3       yes      m
g    Matthew   14.5         1       yes      m
h      Laura    NaN         1        no      f
i      Kevin    8.0         2        no      m
j      Jonas   19.0         1       yes      m

####  Write a Pandas program to select rows from a given DataFrame based on values in some columns.

In [214]:
print(e[e['Gender']=='f'])

        name  score  attempts qualified Gender
a  Anastasia   12.5         1       yes      f
b       Dima    9.0         3        no      f
c  Katherine   16.5         2       yes      f
e      Emily    9.0         2        no      f
h      Laura    NaN         1        no      f

#### Write a Pandas program to change the order of a DataFrame columns.

In [215]:
e=e[['score','Gender','attempts','name','qualified']]
print(e)

   score Gender  attempts       name qualified
a   12.5      f         1  Anastasia       yes
b    9.0      f         3       Dima        no
c   16.5      f         2  Katherine       yes
d    NaN      m         3      James        no
e    9.0      f         2      Emily        no
f   20.0      m         3    Michael       yes
g   14.5      m         1    Matthew       yes
h    NaN      f         1      Laura        no
i    8.0      m         2      Kevin        no
j   19.0      m         1      Jonas       yes

#### Write a Pandas program to write a DataFrame to CSV file

In [216]:
e1=e.to_csv('check.csv', sep=',', index=False)
e1=pd.read_csv('check.csv')
print(e1)

   score Gender  attempts       name qualified
0   12.5      f         1  Anastasia       yes
1    9.0      f         3       Dima        no
2   16.5      f         2  Katherine       yes
3    NaN      m         3      James        no
4    9.0      f         2      Emily        no
5   20.0      m         3    Michael       yes
6   14.5      m         1    Matthew       yes
7    NaN      f         1      Laura        no
8    8.0      m         2      Kevin        no
9   19.0      m         1      Jonas       yes

#### Write a Pandas program to count city wise number of people from a given of data set

In [221]:
df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})
g1 = df1.groupby(["city"]).size().reset_index(name='Number of people')
print(g1)

          city  Number of people
0   California                 4
1      Georgia                 2
2  Los Angeles                 4

#### Write a Pandas program to replace all the NaN values

In [225]:
data = {'val1': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'val2': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
data1=pd.DataFrame(data)
print(data1)
print("**"*10)
print("**"*10)
data1=data1.fillna("Replaced")
print(data1)

   val1 val2
0  12.5  yes
1   9.0   no
2  16.5  yes
3   NaN   no
4   9.0   no
5  20.0  yes
6  14.5  yes
7   NaN   no
8   8.0   no
9  19.0  yes
********************
********************
       val1 val2
0      12.5  yes
1         9   no
2      16.5  yes
3  Replaced   no
4         9   no
5        20  yes
6      14.5  yes
7  Replaced   no
8         8   no
9        19  yes

#### Write a Pandas program to set a given value for particular cell in DataFrame using index value.

In [249]:
exam_data1 = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
e=pd.DataFrame(exam_data1,index=labels)
print(e)
print("****"*10)
print("****"*10)
e.set_value('a', 'score', 10.2)
e.set_value('d', 'score', 6.2)
e.set_value('j', 'score', 13.2)
print(e)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
****************************************
****************************************
        name  score  attempts qualify
a  Anastasia   10.2         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    6.2         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   13.2         1     yes

C:\Users\Priya\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Priya\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Priya\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if sys.path[0] == '':

In [250]:
print(e)
print("****"*10)
e = e.drop(e.index[[-1]])
print(e)

        name  score  attempts qualify
a  Anastasia   10.2         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    6.2         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   13.2         1     yes
****************************************
        name  score  attempts qualify
a  Anastasia   10.2         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    6.2         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no

#### Write a Pandas program to get the datatypes of columns of a DataFrame.

In [236]:
print(e.dtypes)

name         object
score       float64
attempts      int64
qualify      object
dtype: object

#### Write a Pandas program to remove infinite values from a given DataFrame.

In [241]:
df1 = pd.DataFrame([1000, 2000, 3000, -4000, np.inf, -np.inf],columns=['A'])
df1=df1.replace([np.inf, -np.inf],0)
print(df1)

        A
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     0.0
5     0.0

#### Write a panda program to display first n values of DataFrame

In [242]:
e.head()

        name  score  attempts qualify
a  Anastasia   10.2         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    6.2         3      no
e      Emily    9.0         2      no

#### Write a panda program to display last n values of DataFrame

In [243]:
e.tail()

      name  score  attempts qualify
e    Emily    9.0         2      no
f  Michael   20.0         3     yes
g  Matthew   14.5         1     yes
h    Laura    NaN         1      no
i    Kevin    8.0         2      no